@import "partials/clearfix";
@import "partials/reset";

body {
  font-family: 'Arial', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 15px;
  padding: 10px;
  color: white;
}

.Title{
  text-align: left;
}

.KanbanNew {
  // border-style: solid;
  // border-color: pink;
  // border-width: 1px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.Queue {
  width: 32%;
  border-right: solid 1px #000000;
}

.InProgress {
  width: 32%;
  border-right: solid 1px #000000;
}

.Done {
  width: 32%;
}

.QueueCard {
  padding: 10px;
  margin: 5px;

  background-color: #fcf1de;
  border-color: #f6b14f;
  border-style: solid;
  border-width: 1px;
}

.InProgressCard {
  padding: 10px;
  margin: 5px;

  background-color: #e5fdcc;
  border-color: #9fd668;
  border-style: solid;
  border-width: 1px;
}

.DoneCard {
  padding: 10px;
  margin: 5px;

  background-color: #f7f8fb;
  border-color: #dee2e8;
  border-style: solid;
  border-width: 1px;
}