.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 55px;
  padding: 20px;
  color: white;
}

.KanbanNew {
  border-style: solid;
  border-color: pink;
  border-width: 1px;
}

.Queue {
  border-style: solid;
  border-color: red;
  border-width: 3px;
}

.InProgress {
  border-style: solid;
  border-color: yellow;
  border-width: 3px;
}

.Done {
  border-style: solid;
  border-color: green;
  border-width: 3px;
}